nav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(1,66,104,1) 60%, rgba(1,88,104,1) 95%);
  color: white;
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
}

.weather-border {
  border: solid 1px black;
}
